<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <p>
      let's navigate to the '/new'
    </p>
  </body>
</html>
